/*first row */
.btn-sign-in{
    background-color: white;
    color: rgb(15, 15, 15);
    width: 90px;
    height: 40px;
    border-radius: 18px;
    font-weight: 700;
}
.btn-sign-now{
    background-color: black;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 18px;
    font-weight: 700;
    margin-left: 10px;
}
/* .navbar{
    margin: 15px;
} */
.star-reward-1{
    width: 100%;
        max-width:100%;
      
    
}
.star-reward-2{
    width: 100%;
    height: 100%; 
    
   
}
/* .row{
    width: 100%;
    height: 100%;
    background-color: #1e3932;
    
} */
.btn-star-reward{
    margin: 41px;
    background-color:  #1e3932;
    color: white;
    border-color: white;
    width: 300px;
    height: 40px;
    border-radius: 18px;
    font-weight: 600;
   
}
.h2-summer{
    text-align: center;
    color: white;
    padding: 23px;
}
/*second row */
.cotainer{
    width: 100%;
}
.h1-drinks{
    text-align: center ;
    font-weight: 700;
    font-size: 50px;
}
.h3-drinks{
    text-align: center;
    line-height: 45px;
   
}
.star-drinks-1{
    padding: 106px;
    width: 100%;
    height: 100%; 
    
   
}
.star-drinks-2{
    width: 100%;
        max-width:100%;      
}
  

.btn-star-drinks{
    margin: 41px;
    background-color: #fa91aa;
    color: #0a0a0a;
    border-color: #0c0c0c;
    width: 150px;
    height: 40px;
    border-radius: 18px;
    font-weight: 600;
    font-size: larger;
}
/*third row */
.h1-cold{
    text-align: center ;
    font-weight: 700;
    font-size: 50px;
}
.h3-cold{
    text-align: center;
    line-height: 55px;
    padding: 25px;
   
}
.star-cold-1{
    width: 100%;
        max-width:100%;      
}
.star-cold-2{
    padding: 106px;
    width: 100%;
    height: 100%; 
    
   
}

.btn-star-cold{
    margin: 41px;
    background-color: #f06464;
    color: #0a0a0a;
    border-color: #0c0c0c;
    width: 150px;
    height: 40px;
    border-radius: 18px;
    font-weight: 600;
    font-size: larger;
}
/*fouth row */
.h1-backAt{
    text-align: center ;
    font-weight: 700;
    font-size: 50px;
    padding: 30px;
}
.h3-backAt{
    text-align: center;
    line-height: 45px;
    
   
}
.star-backAt-1{
    padding: 140px;
    width: 100%;
    height: 100%; 
    
   
}
.star-backAt-2{
    width: 100%;
        max-width:100%;  
            
}
  

.btn-backAt-drinks{
    margin: 41px;
    background-color: #faaa5a;
    color: #0a0a0a;
    border-color: #0c0c0c;
    width: 150px;
    height: 40px;
    border-radius: 18px;
    font-weight: 600;
    font-size: larger;
}
/*five row */
.h1-burger{
    text-align: center ;
    font-weight: 700;
    font-size: 50px;
}
.h3-burger{
    text-align: center;
    line-height: 55px;
    padding: 25px;
   
}
.star-burger-1{
    width: 100%;
        max-width:100%;      
}
.star-burger-2{
    padding: 106px;
    width: 100%;
    height: 100%; 
    
   
}

.btn-star-burger{
    margin: 41px;
    background-color: #9bf5b4;
    color: #0a0a0a;
    border-color: #0c0c0c;
    width: 150px;
    height: 40px;
    border-radius: 18px;
    font-weight: 600;
    font-size: larger;
} 
/* comment-section */
.com-1{
    text-align: center;
    font-weight: 600;
}   
.com-2{
    text-align: center;
    font-weight: 600;
    margin: 120px;
}
.link-color{
    color: #0a0a0a;
}
/* footer-1 */
.ol{
    list-style-type: none;
    font-weight: 500;
    line-height: 40px;
   
}
/* footer-icon */
.footer-icon{
    padding: 40px;
    color: #0a0a0a;
}
i {
    padding: 5px;
    }

    .nav-item h1{
        font-size: 2rem;
    }
.footer-icon a{
    color: #0a0a0a;
    
}
.nav-item span{
    font-size: 1rem;

    font-weight: 600;
}


